{{ define "main" }}

        {{ partial "skiplinks.html" . }}

        {{ partial "header.html" . }}

        <main role="main" property="mainContentOfPage" class="gg-lab-default">
            
            <div class="container-fluid bg-dark-blue">
                <div class="container">
                    <div class="row">
                        <div class="col-10 offset-md-1">
                            <h1 property="name" id="mainContent">{{ .Title }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center pt-5">
                    <div class="col-10 col-sm-10">
                        
                        <p class="font-size-r1-6 pb-4">Global Governance Lab members are engaged in projects related to issues in international development. Ongoing and closed projects are listed on this page. </p>

                        <section>
                            <h2 class="mb-4">Ongoing Projects</h2>

                            <!-- Need to sort items by project title alphabettically -->

                            <div class="row">
                                {{ range ((where .Pages "Params.project.status" "open") sort .Pages "Params.project.title" "desc" )  }}
                                <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-sm-4">
                                    <div class="gg-lab-card-proj h-100 d-flex flex-column">
                                        <img src="{{ .Params.project.image | relURL }}" alt="" class="gg-lab-card-proj-img-top img-fluid" />
                                        <div class="gg-lab-card-proj-body">
                                            <div class="gg-lab-card-proj-title">
                                                <h3>{{ .Params.project.title }}</h3>
                                            </div>
                                        </div>
                                        <div class="gg-lab-card-proj-footer mt-auto">
                                            <p>
                                                <a href="{{.Permalink | relURL }}" class="btn btn-green"> 
                                                    Learn more <span class="sr-only">TODO</span>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        
                        </section>

                        <section>
                            <h2 class="mb-4">Closed Projects</h2>
                            <div class="row">
                                {{ range where .Pages "Params.project.status" "closed" }}
                                <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-sm-4">
                                    <div class="gg-lab-card-proj h-100 d-flex flex-column">
                                        <img src="{{ .Params.project.image | relURL }}" alt="" class="gg-lab-card-proj-img-top img-fluid" />
                                        <div class="gg-lab-card-proj-body">
                                            <div class="gg-lab-card-proj-title">
                                                <h3>{{ .Params.project.title }}</h3>
                                            </div>
                                        </div>
                                        <div class="gg-lab-card-proj-footer mt-auto">
                                            <p>
                                                <a href="{{.Permalink | relURL }}" class="btn btn-green"> 
                                                    Learn more <span class="sr-only">TODO</span>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </section>
                        

                    </div>
                </div>
            </div>
            
        </main>

        {{ partial "footer.html" . }}

{{ end }}