{{ define "main" }}

	{{ partial "site/breadcrumbs.html" . }}

	<div class="container">

	<h1>People</h1>

	<p class="page-lead">The Global Governance Research-to-Practice Lab is a team of interdisciplinary researchers working on projects related to global issues in international development.</p>

	{{ $faculty := (where .Pages "Params.person.category" "==" "faculty") }}
	{{ $facultyCount := len $faculty }}

	{{ if gt $facultyCount 0 }}

		<h2>Faculty</h2>

		<ul class="row list-unstyled">
		{{ range sort (where .Pages "Params.person.category" "faculty") "Params.person.lastname" }}

			{{ template "personCard" . }}

		{{ end }}
		</ul>

	{{ end }}


	{{ $practiceGg := (where .Pages "Params.person.category" "==" "practice-gg") }}
	{{ $practiceGgCount := len $practiceGg }}

	{{ if gt $practiceGgCount 0 }}

		<h2>Professors of Practice in Global Governance</h2>

		<p>Professors of Practice in Global Governance are selected based on their practical achievements to date in promoting better global governance. Current and previous Professors of Practice in Global Governance are:</p>

		<ul class="row list-unstyled">
		{{ range sort (where .Pages "Params.person.category" "practice-gg") "Params.person.title" "desc" }}

			{{ template "personCard" . }}

		{{ end }}
		</ul>

	{{ end }}


	{{ $practiceGeneral := (where .Pages "Params.person.category" "==" "practice-general") }}
	{{ $practiceGeneralCount := len $practiceGeneral }}

	{{ if gt $practiceGeneralCount 0 }}

		<h2>Professors of Practice</h2>

		<ul class="row list-unstyled">
		{{ range sort (where .Pages "Params.person.category" "practice-general") "Params.person.lastname" }}

			{{ template "personCard" . }}

		{{ end }}
		</ul>

	{{ end }}


	{{ $research := (where .Pages "Params.person.category" "==" "research") }}
	{{ $researchCount := len $research }}

	{{ if gt $researchCount 0 }}

		<h2>Research Assistant</h2>

		<ul class="row list-unstyled">
		{{ range sort (where .Pages "Params.person.category" "research") "Params.person.lastname" }}

			{{ template "personCard" . }}

		{{ end }}
		</ul>

	{{ end }}

	</div>

{{ end }}



{{ define "personCard" }}

<li class="col-md-6 col-lg-4 my-3">
	<div class="people-card-container">
		<div class="people-name">
			<h3 class="mt-1"><span class="sr-only">Name:</span>{{ .Params.person.firstname }} {{ .Params.person.lastname }}</h3>
		</div>
		<div class="people-img">
			<img src="{{ .Params.person.image }}" alt="" class="img-fluid" />
		</div>
		<div class="people-title">
			{{ .Params.person.title }}
		</div>
		<div class="people-btn">
			<a href="{{.Permalink}}" class="btn btn-green">Read more <span class="sr-only"> about {{ .Params.person.firstname }} {{ .Params.person.lastname }}</span></a>
		</div>
	</div>
</li>

{{ end }}
