		<!-- Start Header Section -->
		<header>
			<div class="container-fluid bg-grey-100">
				<div class="wl-menu">
					<ul class="wl-menu-logos">
						<li class="">
							<a rel="external" href="https://www.mcgill.ca/isid/">
								<img src='{{ "/images/brand/isid.png" | relURL }}' height="55" alt="">
							</a></li>
						<li class="">
							<a href="{{ "/" | relURL }}">
								<img src='{{ "/images/brand/gg-lab.png" | relURL }}' height="55" alt="">
							</a>
						</li>
					</ul>
					<div class="wl-menu-container">
						<nav>
							<ul class="wl-menu-nav">
								{{ $currentPage := . }}

								{{ range .Site.Menus.main }}
								<li>
									<a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{.URL}}">{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}<span class="sr-only">Selected: </span>{{end}}{{ .Name }}</a></li>
								{{ end }}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
