{{ define "main" }}

        {{ partial "skiplinks.html" . }}

        {{ partial "header.html" . }}

        <main role="main" property="mainContentOfPage" class="gg-lab-default">
            
            <div class="container-fluid bg-dark-blue">
                <div class="container">
                    <div class="row">
                        <div class="col-10 offset-md-1">
                            <h1 property="name" id="mainContent">{{ .Title }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center pt-5">
                    <div class="col-10 col-sm-10">

                        <div id="publicationlist">
                            
                            Showing 

                            <select name="topic" id="filter-type">
                                <option value="all">All Publication Types</option>
                                <option value="Journal Article">Journal Articles</option>
                                <option value="Books and Book Chapters">Books and Book Chapters</option>
                                <option value="Media Coverage">Media Coverage</option>
                                <option value="Policy Brief">Policy Briefs</option>
                            </select>

                            related to

                            <select name="type" id="filter-topic">
                                <option value="all">All topics</option>
                                <option value="Natural resource conflicts and trade-offs">Natural Resources</option>
                                <option value="Migration and Refugees">Migration and Refugees</option>
                                <option value="Governance">Governance</option>
                            </select>

                            <ul class="list list-unstyled">
                                
                                {{ range (sort $.Site.Data.publications.booksbookchapters.entries "year" "desc") }}
                                <li>
                                    <div class="pubcard booksbookchapters">
                                        <div class="pubcard-body">
                                            <h2 class="pubcard-title pubtitle">{{ .title }}</h2>
                                            <p class="pubcard-type pubtype">Books and Book Chapters</p>
                                            <p class="pubcard-topic pubtopic">{{ .topic }}</p>
                                            <p class="pubcard-source pubsource">{{ .source }}</p>
                                            <p class="pubcard-year pubyear">{{ .year }}</p>
                                            <p class="pubcard-href"><a href="{{ .href }}" class="card-link">Access</a></p>
                                        </div>
                                    </div>
                                </li>
                                {{ end }}

                                {{ range (sort $.Site.Data.publications.mediacoverage.entries "year" "desc") }}
                                <li>
                                    <div class="pubcard mediacoverage">
                                        <div class="pubcard-body">
                                            <h2 class="pubcard-title pubtitle">{{ .title }}</h2>
                                            <p class="pubcard-type pubtype">Media Coverage</p>
                                            <p class="pubcard-topic pubtopic">{{ .topic }}</p>
                                            <p class="pubcard-source pubsource">{{ .source }}</p>
                                            <p class="pubcard-year pubyear">{{ .year }}</p>
                                            <p class="pubcard-href"><a href="{{ .href }}" class="card-link">Access</a></p>
                                        </div>
                                    </div>
                                </li>
                                {{ end }}

                                {{ range (sort $.Site.Data.publications.journalarticles.entries "year" "desc") }}
                                <li>
                                    <div class="pubcard journalarticles">
                                        <div class="pubcard-body">
                                            <h2 class="pubcard-title pubtitle">{{ .title }}</h2>
                                            <p class="pubcard-type pubtype">Journal Article</p>
                                            <p class="pubcard-topic pubtopic">{{ .topic }}</p>
                                            <p class="pubcard-source pubsource">{{ .source }}</p>
                                            <p class="pubcard-year pubyear">{{ .year }}</p>
                                            <p class="pubcard-href"><a href="{{ .href }}" class="card-link">Access</a></p>
                                        </div>
                                    </div>
                                </li>
                                {{ end }}
                                {{ range (sort $.Site.Data.publications.policybriefs.entries "year" "desc") }}
                                <li>
                                    <div class="pubcard journalarticles">
                                        <div class="pubcard-body">
                                            <h2 class="pubcard-title pubtitle">{{ .title }}</h2>
                                            <p class="pubcard-type pubtype">Policy Brief</p>
                                            <p class="pubcard-topic pubtopic">{{ .topic }}</p>
                                            <p class="pubcard-source pubsource">{{ .source }}</p>
                                            <p class="pubcard-year pubyear">{{ .year }}</p>
                                            <p class="pubcard-href"><a href="{{ .href }}" class="card-link">Access</a></p>
                                        </div>
                                    </div>
                                </li>
                                {{ end }}

                            </ul>
                            <ul class="pagination"></ul>
                            </div>
                        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
                    </div>
                </div>
            </div>
            
        </main>

        {{ partial "footer.html" . }}

{{ end }}