{{ define "main" }}

        {{ partial "skiplinks.html" . }}

        {{ partial "header.html" . }}

        <main role="main" property="mainContentOfPage" class="gglab-default">
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-sm-10">
                        <h1 property="name" id="mainContent">Research</h1>
                        
                        <section>
                            <h2>Ongoing Projects</h2>
                            <ul>
                                {{ range where .Pages "Status" "open" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </section>

                        <section>
                            <h2>Closed Projects</h2>
                            <ul>
                                {{ range where .Pages "Status" "closed" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </section>
                        

                    </div>
                </div>
            </div>
            
        </main>

        {{ partial "footer.html" . }}

{{ end }}