/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
    font-weight: 700 !important;
} 



/* ==========================================================================
   Global Governance Lab Page Footer Styles
   ========================================================================== */

.gg-lab-page-footer { 
    background-color: #ffffff;
}

.gg-lab-page-footer .gg-lab-page-footer-nav-ul { 

}


.gg-lab-page-footer .gg-lab-page-footer-nav-ul li { 
    padding: 10px 0px 10px 0px;
}

.gg-lab-page-footer .gg-lab-page-footer-nav-ul li a { 
    text-transform: uppercase; 
    /* font-weight: 600 !important; */
    color: #6c757d;
}

.gg-lab-page-footer .gg-lab-page-footer-nav-ul li a:hover { 
    color: #a3a9ae;
    transition: 0.5s ease-in;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .gg-lab-page-footer .gg-lab-page-footer-nav-ul { 
        border-bottom: 1px solid rgb(222, 226, 230);
    }
}


/* ==========================================================================
   Global Governance Lab Default Page Styles
   ========================================================================== */

   .gg-lab-default { 
    color: rgb(108, 117, 125);
    font-size: 120%;
    padding: 0px 0px 100px 0px;
    background-color: #f8f9fa !important;
}

.gg-lab-default h1 { 
    color: rgb(108, 117, 125);
    font-size: 3rem !important;    
    border-bottom: 1px solid rgb(108, 117, 125);
    padding: 25px 0px 25px 0px;
    font-weight: 500;
    
}

  
@media (min-width: 576px) { 
    /* This is what you see on desktop */ 

    .gglab-default h1 { 
        font-size: 4rem !important;    
    }
}



/* ==========================================================================
   Global Governance Lab Home Page Styles
   ========================================================================== */

.gg-lab-home-project-feature { 
    position: relative;
    width: 100%;
}

.gg-lab-home-project-feature .gg-lab-home-project-feature-img { 
    display: block;
    width: 100%;
    height: auto;
}

.gg-lab-home-project-feature .gg-lab-home-project-feature-text { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;   
}


/* ==========================================================================
   Global Governance Lab Button Styles
   ========================================================================== */
.btn-green { 
    background-color: #70B243;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-green:hover { 
    background-color: #466f2a;
    color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.10);
}


.btn-outline-green { 
    background-color: #ffffff;
    border: 1px solid #70B243;
    color: #70B243;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-outline-green:hover { 
    background-color: #466f2a;
    color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.10);
}



/* ==========================================================================
   Navigation styles
   ========================================================================== */
body.noScroll { 
    overflow: hidden;
}

/*
.gglab-nav-navbar-container { 
    
}
*/

.no-js .gglab-nav-navbar-container {
    
    position: relative;
    opacity: 1;
    display: block;
    visibility: visible;
    background-color: transparent;
}

/* Hide the open menu button by default */ 
.gglab-nav-navbar-open-button-container { 
    display: none;
}

/* Hide the close menu button by default */ 
.gglab-nav-navbar-close-button-container { 
    display: none;
}

.gglab-nav-navbar-brand-container { 
    display: none;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .gglab-nav-navbar-brand-container { 
        text-align: center;
    }
    
    .gglab-nav-navbar-container { 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        z-index: 1000;
        background-color: #3A6EB6   !important;        
    }

    /* Show the open menu button in small devices */ 
    .gglab-nav-navbar-open-button-container { 
        display: block; 
    }

    
    /* Show the close menu button in small devices */ 
    .gglab-nav-navbar-close-button-container { 
        display: flex;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    /* Show the close menu button in small devices */ 
    .gglab-nav-navbar-close-button-container button{
        margin-left: auto;
        margin-right: auto;

    } 

    /* Style the open and close navigation buttons */ 
    .gglab-nav-navbar-open-button-container button, .gglab-nav-navbar-close-button-container button { 
        background-color: #70B243;
        color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .gglab-nav-navbar-open-button-container button:hover, .gglab-nav-navbar-close-button-container button:hover { 
        background-color: #466f2a;
        color: #ffffff;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.10);
    }
    
    .gglab-nav-navbar-container.open {
        opacity: 1;
        visibility: visible;
        height: 100%;

        transition: opacity .35s, visibility .35s, height .35s;
    }

    .gglab-nav-navbar-container ul { 
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }

    .gglab-nav-navbar-container ul li { 
        transform: translate(-10em,0);
        opacity: 0;

        transition-duration: 0.3s;
        transition-timing-function: linear;
        transition-delay: 0s;
    }


    .gglab-nav-navbar-container ul li a { 
        display: block;
        font-size: 2.1rem; 
        color: rgba(240, 240, 240, 1) !important;
        text-align: center;
        font-weight: normal;
    }

    .gglab-nav-navbar-container ul li a:hover { 
        color: rgba(200, 200, 200, 1) !important;
        transform: scale(1.1);
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }
    
    .gglab-nav-navbar-container.open ul li { 
        transform: translate(0,0);
        opacity: 1;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(1) { 
        transition-delay: 0s;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(2) { 
        transition-delay: 0.15s;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(3) { 
        transition-delay: 0.20s;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(4) { 
        transition-delay: 0.25s;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(5) { 
        transition-delay: 0.30s;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(6) { 
        transition-delay: 0.35s;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(7) { 
        transition-delay: 0.40s;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(8) { 
        transition-delay: 0.45s;
    }

    .gglab-nav-navbar-container ul li:nth-of-type(9) { 
        transition-delay: 0.50s;
    }


}



/* ==========================================================================
   Global Governance Lab Theme Colour Styles
   ========================================================================== */
 
.bg-light-blue { 
    background-color: #2BACE2   !important;
}
.bg-dark-blue { 
    background-color: #3A6EB6   !important;
}
.bg-light-yellow { 
    background-color: #fff5e2  !important;
}
.bg-yellow { 
    background-color: #FCB216   !important;
}
.bg-green { 
    background-color: #70B243   !important;
} 
.bg-dark-green { 
    background-color: #466f2a   !important;
} 


.text-light-blue { 
    color: #2BACE2   !important;
}
.text-dark-blue { 
    color: #3A6EB6   !important;
}
.text-yellow { 
    color: #FCB216   !important;
}
.text-green { 
    color: #70B243   !important;
}




/* ==========================================================================
   Utility classes
   ========================================================================== */

.font-size-r1-1 {font-size: 1.1rem;}
.font-size-r1-2 {font-size: 1.2rem;}
.font-size-r1-3 {font-size: 1.3rem;}
.font-size-r1-4 {font-size: 1.4rem;}
.font-size-r1-5 {font-size: 1.5rem;}
.font-size-r1-6 {font-size: 1.6rem;}
.font-size-r1-7 {font-size: 1.7rem;}
.font-size-r1-8 {font-size: 1.8rem;}
.font-size-r1-9 {font-size: 1.9rem;}
.font-size-r2-0 {font-size: 2.0rem;}


.display-1 {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
}
.display-2 {
    font-size: 3.0rem !important;
    font-weight: 700 !important;
}
.display-3 {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
}
.display-4 {
    font-size: 2.0rem !important;
    font-weight: 700 !important;
}
  
  
@media (min-width: 576px) { 
    /* This is what you see on desktop */ 
    .display-1 {
        font-size: 5rem !important;
        font-weight: 600 !important;
    }
    .display-2 {
        font-size: 4.5rem !important;
        font-weight: 600 !important;
    }
    .display-3 {
        font-size: 4.0rem !important;
        font-weight: 600 !important;
    }
    .display-4 {
        font-size: 3.5rem !important;
        font-weight: 600 !important;
    }

}
  
  
 

/* ==========================================================================
   SVG Icons - svgicons.sparkk.fr
   ========================================================================== */
.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ffffff;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
