
        <!-- Site Header 
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light py-sm-5 px-sm-5">
                <a class="navbar-brand" href="#">
                    <img src='{{ "images/brand/gg-lab.png" | relURL }}' width="100" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ " publications/index.html" | relURL }}">Publications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ " projects/index.html" | relURL }}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ " people/index.html" | relURL }}">People</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ " about/index.html" | relURL }}">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        --> 

        <!-- Site Header -->
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light py-5 px-sm-5">
                <a class="navbar-brand" href="#">
                    <img src='{{ "images/brand/gg-lab.png" | relURL }}' width="100" alt="">
                </a>

                <div class="gglab-nav-navbar-open-button-container"></div>

                <div class="navbar-collapse gglab-nav-navbar-container" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ "/index.html" | relURL }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ "publications/index.html" | relURL }}">Publications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ "projects/index.html" | relURL }}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ "people/index.html" | relURL }}">People</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ "about/index.html" | relURL }}">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
