
        <!-- Site Header -->
        <header>
            <nav class="navbar navbar-expand-md navbar-light py-3 px-sm-4 border-bottom">
                <a class="navbar-brand" href="{{ "/" | relURL }}">
                    <img src='{{ "/images/brand/gg-lab.png" | relURL }}' width="90" alt="">
                </a>
                <a class="navbar-brand mr-md-auto" href="{{ "/" | relURL }}">
                    <img src='{{ "/images/brand/isid.png" | relURL }}' height="45" alt="">
                </a>
                <div class="gglab-nav-navbar-open-button-container"></div>
                <div class="ml-md-auto gglab-nav-navbar-container">
                    <ul class="navbar-nav">
                        {{ $currentPage := . }}

                        {{ range .Site.Menus.main }}
                        <li class="nav-item">
                            <a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{.URL}}">{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}<span class="sr-only">Selected: </span>{{end}}{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </nav>
        </header>
