{{ define "main" }}

	<!-- Start Hero -->
	<div class="container-fluid">
		<div class="container">
			<div class="row justify-content-center align-items-center pb-5">
				<div class="col-9 col-md-4 col-lg-5 pt-5 pt-md-0">
					<img src='{{ "/images/brand/gg-lab-globe-medium.png" | relURL }}' class="img-fluid" alt="" />
				</div>
				<div class="col-md-8 col-lg-7 my-md-5 mt-0">
					<h1 class="display-3 text-dark-blue">Global Governance Lab at <abbr>ISID</abbr></h1>
					<p class="text-gray-900 font-weight-light font-size-r1-5">Run by the Institute for the Study of International Development (<abbr>ISID</abbr>). The Global Governance Research-to-Practice Lab is bridging the gap between academics, practitioners and policy-makers<!-- on issues related to global governance and international development-->. It is built around three interconnected nodes: natural resource conflicts and trade-offs, migration and refugees, and governance.</p>

					<div class="row pt-5 pb-3">
						<div class="col-md-4">
							<a class="btn btn-lg btn btn-lg btn-green btn-block" href="{{ "/projects" | relURL }}">Projects</a>
						</div>
						<div class="col-md-4">
							<a class="my-4 my-md-0 btn btn-lg btn btn-lg btn-green btn-block" href="{{ "/people/index.html" | relURL }}">People</a>
						</div>
						<div class="col-md-4">
							<a class="btn btn-lg btn btn-lg btn-green btn-block" href="{{ "/publications/index.html" | relURL }}">Publications</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero -->

	<!-- Start Feature Section -->
	<section id="latest-works">
		<div class="container py-5">
			<h2 class="display-3 text-dark-blue text-left text-md-center pb-2 pb-sm-5">McGill Partnership with UN Environment for Tracking Environment-Related Risks</h2>

			<div class="row justify-content-center">
				<div class="col-12 col-sm-8">
					<img class="home-feature-image img-fluid" src="/images/projects/project-19.jpg" />
				</div>
			</div>
			<p class="font-size-r1-5 mt-5 text-center">We are pleased to announce a new multidisciplinary partnership
					between McGill University and the UN Environment for tracking environment-related risks.</p>


			<p class="mt-5 text-center"><a class="btn btn-lg btn btn-lg btn-green" href="{{ "/projects/project-19/" | relURL }}">Learn more</a></p>
		</div>
	</section>
	<!-- End Feature Section -->

	<!-- Start Latest Works Section -->
	<section id="latest-works">
		<div class="container py-5">
			<h2 class="display-3 text-dark-blue text-left text-md-center pb-2 pb-sm-5">Latest Works</h2>

			{{ $latestWorksCount := len $.Site.Data.latestworks.entries }}

			{{ if gt $latestWorksCount 0 }}

			<ul class="row list-unstyled">
			{{ range $.Site.Data.latestworks.entries }}
				{{ template "latestWorksCard" . }}
			{{ end }}
			</ul>

			{{ else }}
				<p>Error - No Latest Works Entries Found!</p>
			{{ end }}


		</div>
	</section>
	<!-- End Latest Works Section -->

	<!-- Start Projects Section -->
	<section id="projects">
		<div class="container-fluid py-5">
			<div class="container">
				<h2 class="display-3 text-dark-blue text-left text-md-center pb-5">Research Projects</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="gg-lab-home-project-feature my-2 my-md-3">
							<a href="{{ "/projects/project-11" | relURL }}">
								<img class="gg-lab-home-project-feature-img rounded" src="{{ "/images/projects/project-11.jpg" | relURL }}" />
								<div class="gg-lab-home-project-feature-text">Peruvian Amazon Rural Livelihoods and Poverty (PARLAP) Project</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="gg-lab-home-project-feature my-2 my-md-3">
							<a href="{{ "/projects/project-01" | relURL }}">
								<img class="gg-lab-home-project-feature-img rounded" src="{{ "/images/projects/project-01.jpg" | relURL }}" />
								<div class="gg-lab-home-project-feature-text text-white">The Effect of Security-Motivated Trade Restrictions on Economic Activity and Political Violence</div>
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="gg-lab-home-project-feature my-2 my-md-3">
							<a href="{{ "/projects/project-03" | relURL }}">
								<img class="gg-lab-home-project-feature-img rounded" src="{{ "/images/projects/project-03.jpg" | relURL }}" />
								<div class="gg-lab-home-project-feature-text">The Right of Return: Origins, Evolution and Scope of an International Norm</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="gg-lab-home-project-feature my-2 my-md-3">
							<a href="{{ "/projects" | relURL }}">
								<img class="gg-lab-home-project-feature-img rounded" src="{{ "/images/projects/view-all-cover.jpg" | relURL }}" />
								<div class="gg-lab-home-project-feature-text">View All Research Projects</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Projects Section -->

	<!-- Start Video Section -->
	<section id="video">
		<div class="container py-5">
			<h2 class="display-3 text-dark-blue text-left text-md-center pb-5">Questioning Crisis: Rethinking Forced Migration in Theory and Practice</h2>
			<div class="row justify-content-center">
				<div class="col-12 col-sm-9">
					<div class="embed-responsive embed-responsive-16by9 mb-5">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lWHhcdhgwVM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<p class="font-size-r1-5 text-center">The need for critical and innovative thinking in the field of forced migration has never been greater. Watch video recordings from <abbr>ISID</abbr>'s 2017 annual conference <a href="https://www.youtube.com/playlist?list=PLCaEJ2TUv9261s2a3X7v8eUgPE1nv_uVp" rel="external">'Questioning Crisis'</a>.</p>
		</div>
	</section>
	<!-- End Video Section -->


{{ end }}

{{ define "latestWorksCard" }}

	<li class="col-md-6 col-lg-4 my-3">
		<div class="people-card-container">
			<div class="people-name">
				<h3 class="mt-1"><span class="sr-only">Project Name:</span>{{ .title }}</h3>
			</div>
			<div class="people-img">
				<img src="{{ .image | relURL }}" alt="" class="img-fluid" />
			</div>
			<div class="people-title">
				<p>{{ .authors }}</p>
				<p><span class="badge badge-light-turqouise">{{ .type }}</span></p>
			</div>
			<div class="people-btn">
				<a href="{{.href}}" class="btn btn-green">Read more</a>
			</div>
		</div>
	</li>

{{ end }}
