{{ define "main" }}

        {{ partial "skiplinks.html" . }}

        {{ partial "header.html" . }}

        <main role="main" property="mainContentOfPage">

            <!-- Start Hero -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-6 col-md-4 pt-5 pt-md-0">
                            <img src='{{ "/images/brand/gg-lab-globe-large.png" | relURL }}' class="img-fluid" alt="" />
                        </div>
                        
                        <div class="col-md-8 p-lg-5 my-5">
                            <h1 class="display-2 text-dark-blue">Global Governance Lab</h1>
                            <p class="text-gray-900 font-weight-light font-size-r1-5">The Global Governance Research-to-Practice Lab is bridging the gap between academics, practitioners and policy-makers in Canada and globally on issues related to global governance.  It is built around three interconnected nodes: Natural resources, migration and refugees, and governance.</p>
                            
                            <div class="row pt-4">
                                <div class="col-md-4">
                                    <a class="btn btn-lg btn-green btn-block" href="{{ "/projects/index.html" | relURL }}">Projects</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="my-4 my-md-0 btn btn-lg btn-green btn-block" href="{{ "/people/index.html" | relURL }}">People</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-lg btn-green btn-block" href="{{ "/publications/index.html" | relURL }}">Publications</a>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- End Hero -->
            
            <!-- Start Projects Section -->
            <section id="projects">
                <div class="container-fluid py-5">
                    <div class="container">
                        <h2 class="display-3 text-dark-blue text-center pb-4">Projects</h2>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="gg-lab-home-project-feature">
                                    <a href="#">
                                        <img class="gg-lab-home-project-feature-img" src="https://via.placeholder.com/700x900" />
                                        <div class="gg-lab-home-project-feature-text display-4">Hello</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="gg-lab-home-project-feature">
                                    <a href="#">
                                        <img class="gg-lab-home-project-feature-img" src="https://via.placeholder.com/700x900" />
                                        <div class="gg-lab-home-project-feature-text display-4">Hello</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="gg-lab-home-project-feature">
                                    <a href="#">
                                        <img class="gg-lab-home-project-feature-img" src="https://via.placeholder.com/700x900" />
                                        <div class="gg-lab-home-project-feature-text display-4">Hello</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="gg-lab-home-project-feature">
                                    <a href="#">
                                        <img class="gg-lab-home-project-feature-img" src="https://via.placeholder.com/700x900" />
                                        <div class="gg-lab-home-project-feature-text display-4">Hello</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- End Projects Section -->

            <!-- Start Publications Section -->
            <section id="publications">
                <div class="container-fluid py-5">
                    <div class="container py-5">

                        <h2 class="display-3 pb-4 text-center text-dark-blue">Publications</h2>

                        <div class="row">
                            
                            <div class="col-md-5 d-none d-sm-block">
                                
                                <img class="h-100 w-100" style="object-fit: cover;" src="https://grow.research.mcgill.ca/images/home/publications.jpg" alt="" />
                                
                            </div>
                    
                            <div class="col">

                                <div class="d-flex flex-column">
                                    <div class="bg-light p-5">
                                        <h3>Hello</h3>
                                        <p>Qui id in veniam id commodo aute pariatur proident enim eiusmod nulla nostrud est. Elit labore ullamco culpa do.</p>
                                        <p><a class="btn btn-lg btn-green" href="{{ "/publications/index.html" | relURL }}">Publications</a></p>
                                    </div>
                                    <div class="bg-light p-5 my-4">
                                        <h3>Hello</h3>
                                        <p>Deserunt labore culpa ea exercitation nisi magna irure voluptate minim. Laborum dolore sint laborum nisi aliquip laborum irure nostrud tempor velit aute eu ea aute. Pariatur et ea sunt nisi ut.</p>
                                        <p><a class="btn btn-lg btn-green" href="{{ "/publications/index.html" | relURL }}">Publications</a></p>
                                    </div>
                                    <div class="bg-light p-5">
                                        <h3>Hello</h3>
                                        <p>Incididunt eu reprehenderit ullamco labore deserunt sunt laborum in duis veniam culpa irure mollit. Voluptate ut aute laborum aliqua do duis id enim velit Lorem ut amet. Proident nisi Lorem quis dolor amet do esse.</p>
                                        <p><a class="btn btn-lg btn-green" href="{{ "/publications/index.html" | relURL }}">Publications</a></p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Publications Section -->

            <!-- Start People Section -->
            <section id="people">
                <div class="container-fluid py-5 bg-light">
                    <div class="container py-5 text-center">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-9">
                                <h2 class="display-3 pb-4 text-dark-blue">People</h2>
                                <p class="text-secondary font-size-r1-5">Text</p>
                                <p><a class="btn btn-lg btn-green" href="{{ "/people/index.html" | relURL }}">Learn more<span class="sr-only">about the Global Governance Lab</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
             <!-- End People Section -->

            <!-- Start About section --> 
            <section id="about">
                <div class="container-fluid py-5 bg-dark-blue">
                    <div class="container py-5 text-white text-center">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-sm-9">
                                <h2 class="display-3 pb-4">About the Lab</h2>
                                <p class="font-size-r1-5">The Global Governance Lab is housed at McGill University’s Institute for the Study of International Development (<abbr>ISID</abbr>). It is facilitated by <abbr>Dr</abbr>. Sonia Laszlo, Lab Program Lead and Director at <abbr>ISID</abbr>.</p>
                                <p class="pt-4"><a class="btn btn-lg btn-green" href="{{ "about/index.html" | relURL }}">Learn more<span class="sr-only">about the Global Governance Lab</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About section --> 
            
            <section id="purpose">
                <div class="container-fluid pt-5 pb-3">
                    <div class="container pt-5">
                        <h2 class="display-3 text-dark-blue pb-5 text-center">Purpose of the Lab</h2>
                        <ul class="list-unstyled row">
                            <li class="col-md-6 py-2">
                                <div class="d-flex flex-row">
                                    <div class="px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-green" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                            <path style="fill:#ffffff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
                                    C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
                                    c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
                                    c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
                                    c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
                                    c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                        </svg>
                                    </div>
                                    <div class="text-secondary">
                                        <h3 class="font-weight-bold font-size-r1-9">Advance knowledge</h3>
                                        <p class="text-secondary font-size-r1-1">Advance knowledge creation, dissemination and outreach on three themes: governance, natural resource conflict, and migration and refugees.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-6 py-2">
                                <div class="d-flex flex-row">
                                    <div class="px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-green" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                            <path style="fill:#fff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
                                    C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
                                    c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
                                    c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
                                    c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
                                    c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                        </svg>
                                    </div>
                                    <div class="text-secondary">
                                        <h3 class="font-weight-bold font-size-r1-9">Strengthen the evidence-base</h3>
                                        <p class="text-secondary font-size-r1-1">Strengthen the evidence-base on what works, and does not work, to fill the contemporary global governance void.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-6 py-2">
                                <div class="d-flex flex-row">
                                    <div class="px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-green" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                            <path style="fill:#fff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
                                    C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
                                    c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
                                    c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
                                    c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
                                    c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                        </svg>
                                    </div>
                                    <div class="text-secondary">
                                        <h3 class="font-weight-bold font-size-r1-9">Understand the role of policy</h3>
                                        <p class="text-secondary font-size-r1-1">Understand how social and economic policy can help improve the situation of individuals in fragile environments.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-6 py-2">
                                <div class="d-flex flex-row">
                                    <div class="px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon rounded-circle bg-green" style="width:2.5rem; height:2.5rem;padding: 5px;" viewBox="0 0 20 20">
                                            <path style="fill:#fff" fill="none" d="M9.917,0.875c-5.086,0-9.208,4.123-9.208,9.208c0,5.086,4.123,9.208,9.208,9.208s9.208-4.122,9.208-9.208
                                    C19.125,4.998,15.003,0.875,9.917,0.875z M9.917,18.141c-4.451,0-8.058-3.607-8.058-8.058s3.607-8.057,8.058-8.057
                                    c4.449,0,8.057,3.607,8.057,8.057S14.366,18.141,9.917,18.141z M13.851,6.794l-5.373,5.372L5.984,9.672
                                    c-0.219-0.219-0.575-0.219-0.795,0c-0.219,0.22-0.219,0.575,0,0.794l2.823,2.823c0.02,0.028,0.031,0.059,0.055,0.083
                                    c0.113,0.113,0.263,0.166,0.411,0.162c0.148,0.004,0.298-0.049,0.411-0.162c0.024-0.024,0.036-0.055,0.055-0.083l5.701-5.7
                                    c0.219-0.219,0.219-0.575,0-0.794C14.425,6.575,14.069,6.575,13.851,6.794z"></path>
                                        </svg>
                                    </div>
                                    <div class="text-secondary">
                                        <h3 class="font-weight-bold font-size-r1-9">Enable experts</h3>
                                        <p class="text-secondary font-size-r1-1">Enable researchers, policy makers and practitioners to promote sustainable, inclusive development and democratic governance.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>  
            </section>

            

            <!-- Start Partners section --> 
            <section id="partners">
                <div class="container-fluid py-5">
                    <div class="container">
                        <div class="row no-gutters align-items-center justify-content-center">
                            <div class="col-sm-9 text-center">
                                <h2 class="display-3 pb-4 text-dark-blue">Our Partners</h2>
                                <p class="text-secondary font-size-r1-5">We work collaboratively with researchers, policy makers and practitioners to address the contemporary global governance void. Our work is made possible by the generous support of our partners.</p>
                            </div>
                            <div class="w-100 pb-4"></div>
                            <div class="col-9 col-md-4 pb-5 p-sm-5 p-md-2 p-lg-5">
                                <a rel="external" href="http://www.mcgill.ca/isid/" target="_blank"><img class="img-fluid" src='{{  "/images/partners/isid.jpg" | relURL }}' alt=""/><span class="sr-only">Institute for the Study of International Development</span></a>
                            </div>
                            <div class="col-9 col-md-4 pb-5 p-sm-5 p-md-2 p-lg-5">
                                <a rel="external" href="http://www.mcgill.ca/" target="_blank"><img class="img-fluid" src='{{  "/images/partners/mcgill.png" | relURL }}' alt=""/><span class="sr-only">McGill University</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Partners section --> 

        </main>

        {{ partial "footer.html" . }}

{{ end }}