{{ define "main" }}

        {{ partial "skiplinks.html" . }}

        {{ partial "header.html" . }}

        <main role="main" property="mainContentOfPage">

            <!-- Start Hero -->
            <div class="container-fluid bg-light">
                <div class="container">
                    <div class="row justify-content-center align-items-center pb-5">
                        <div class="col-9 col-md-4 col-lg-5 pt-5 pt-md-0">
                            <img src='{{ "/images/brand/gg-lab-globe-large.png" | relURL }}' class="img-fluid" alt="" />
                        </div>
                        <div class="col-md-8 col-lg-7 my-md-5 mt-0">
                            <h1 class="display-2 text-dark-blue">Global Governance Lab at <abbr>ISID</abbr></h1>
                            <p class="text-gray-900 font-weight-light font-size-r1-5">The Global Governance Research-to-Practice Lab at <abbr>ISID</abbr> is bridging the gap between academics, practitioners and policy-makers on issues related to global governance and international development. It is built around three interconnected nodes: natural resources, migration and refugees, and governance.</p>
                            
                            <div class="row pt-5 pb-3">
                                <div class="col-md-4">
                                    <a class="btn btn-lg btn-green btn-block" href="{{ "/projects/index.html" | relURL }}">Projects</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="my-4 my-md-0 btn btn-lg btn-green btn-block" href="{{ "/people/index.html" | relURL }}">People</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-lg btn-green btn-block" href="{{ "/publications/index.html" | relURL }}">Publications</a>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- End Hero -->
            
            <!-- Start Projects Section -->
            <section id="projects">
                <div class="container-fluid py-5">
                    <div class="container">
                        <h2 class="display-3 text-dark-blue text-left text-md-center pb-5">Projects</h2>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="gg-lab-home-project-feature">
                                    <a href="{{ "/projects/project-01" | relURL }}">
                                        <img class="gg-lab-home-project-feature-img rounded" style="filter: contrast(70%);
                                        " src="{{ "/images/projects/project-01.jpg" | relURL }}" />
                                        <div class="gg-lab-home-project-feature-text text-white text-center p-4" style="font-weight:600;font-size:2.1rem;line-height: 1.1;">The Effect of Security-Motivated Trade Restrictions on Economic Activity and Political Violence</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="gg-lab-home-project-feature">
                                    <a href="{{ "/projects/project-01" | relURL }}">
                                        <img class="gg-lab-home-project-feature-img rounded" style="filter: contrast(70%);
                                        " src="{{ "/images/projects/project-02.jpg" | relURL }}" />
                                        <div class="gg-lab-home-project-feature-text text-white text-center p-4" style="font-weight:600;font-size:2.1rem;line-height: 1.1;">The Effect of Security-Motivated Trade Restrictions on Economic Activity and Political Violence</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-6">
                                <div class="gg-lab-home-project-feature">
                                    <a href="{{ "/projects/project-01" | relURL }}">
                                        <img class="gg-lab-home-project-feature-img rounded" style="filter: contrast(70%);
                                        " src="{{ "/images/projects/project-03.jpg" | relURL }}" />
                                        <div class="gg-lab-home-project-feature-text text-white text-center p-4" style="font-weight:600;font-size:2.1rem;line-height: 1.1;">The Effect of Security-Motivated Trade Restrictions on Economic Activity and Political Violence</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="gg-lab-home-project-feature">
                                    <a href="{{ "/projects/project-01" | relURL }}">
                                        <img class="gg-lab-home-project-feature-img rounded" style="filter: contrast(70%);
                                        " src="{{ "/images/projects/project-04.jpg" | relURL }}" />
                                        <div class="gg-lab-home-project-feature-text text-white text-center p-4" style="font-weight:600;font-size:2.1rem;line-height: 1.1;">View all</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- End Projects Section -->

            <!-- Start Publications Section -->
            <section id="publications">
                <div class="container-fluid py-5">
                    <div class="container pb-5">

                        <h2 class="display-3 text-dark-blue text-left text-md-center pb-5">Publications</h2>

                        <div class="row">
                            
                            <div class="col-md-5 d-none d-sm-block">
                                
                                <img class="h-100 w-100 rounded" style="object-fit: cover;" src="https://grow.research.mcgill.ca/images/home/publications.jpg" alt="" />
                                
                            </div>
                    
                            <div class="col">
                                <div class="d-flex flex-column">
                                    <div class="bg-light p-4 rounded">
                                        <h3 class="text-dark-gray">Natural resources</h3>
                                        <p class="text-secondary font-size-r1-1">Qui id in veniam id commodo aute pariatur proident enim eiusmod nulla nostrud est. Elit labore ullamco culpa do.</p>
                                        <p><a class="btn btn-lg btn-green" href="{{ "/publications/index.html" | relURL }}">Learn more <span class="sr-only">about Natural resources publications</span></a></p>
                                    </div>
                                    <div class="bg-light p-4 my-4 rounded">
                                        <h3 class="text-dark-gray">Migration and refugees</h3>
                                        <p class="text-secondary">Deserunt labore culpa ea exercitation nisi magna irure voluptate minim. Laborum dolore sint laborum nisi aliquip laborum irure nostrud tempor velit aute eu ea aute. Pariatur et ea sunt nisi ut.</p>
                                        <p><a class="btn btn-lg btn-green" href="{{ "/publications/index.html" | relURL }}">Learn more <span class="sr-only">about Migration and refugees publications</span></a></p>
                                    </div>
                                    <div class="bg-light p-4 rounded">
                                        <h3 class="text-dark-gray">Governance</h3>
                                        <p class="text-secondary">Incididunt eu reprehenderit ullamco labore deserunt sunt laborum in duis veniam culpa irure mollit. Voluptate ut aute laborum aliqua do duis id enim velit Lorem ut amet. Proident nisi Lorem quis dolor amet do esse.</p>
                                        <p><a class="btn btn-lg btn-green" href="{{ "/publications/index.html" | relURL }}">Learn more <span class="sr-only">about Governance publications</span></a></p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Publications Section -->

        </main>

        {{ partial "footer.html" . }}

{{ end }}